<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
   <event name="checkout_submit_all_after">
	   <observer name="pdc_checkout_submit_all_after" instance="Magebay\Pdc\Observer\SaveOrderAfter" />
   </event>
</config>