@import "variables"

@font-face
  font-family 'PPlus'
  src url(icomoon-font-path + '/PPlus.eot?2585gz')
  src url(icomoon-font-path + '/PPlus.eot?2585gz#iefix') format('embedded-opentype'), url(icomoon-font-path + '/PPlus.ttf?2585gz') format('truetype'), url(icomoon-font-path + '/PPlus.woff?2585gz') format('woff'), url(icomoon-font-path + '/PPlus.svg?2585gz#PPlus') format('svg')
  font-weight normal
  font-style normal

[class^="plus-"], [class*=" plus-"]
  font-family 'PPlus' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.plus-icon
  &:before
    content plus-icon
.plus-select-area
  &:before
    content plus-select-area
.plus-file-svg2
  &:before
    content plus-file-svg2
.plus-front-layout-symbol
  &:before
    content plus-front-layout-symbol
.plus-back-layout-symbol
  &:before
    content plus-back-layout-symbol
.plus-object-alignment-at-the-bottom
  &:before
    content plus-object-alignment-at-the-bottom
.plus-object-alignment-to-the-top
  &:before
    content plus-object-alignment-to-the-top
.plus-object-alignment-to-the-center
  &:before
    content plus-object-alignment-to-the-center
.plus-object-alignment-horizontal
  &:before
    content plus-object-alignment-horizontal
.plus-object-alignment-to-the-right
  &:before
    content plus-object-alignment-to-the-right
.plus-object-alignment-to-the-left
  &:before
    content plus-object-alignment-to-the-left
.plus-object-flip-ver
  &:before
    content plus-object-flip-ver
.plus-object-flip-hor
  &:before
    content plus-object-flip-hor
.plus-add2
  &:before
    content plus-add2
.plus-add_circle
  &:before
    content plus-add_circle
.plus-control_point
  &:before
    content plus-control_point
.plus-loupe
  &:before
    content plus-loupe
.plus-view_array
  &:before
    content plus-view_array
.plus-view_carousel
  &:before
    content plus-view_carousel
.plus-view_column
  &:before
    content plus-view_column
.plus-view_comfy
  &:before
    content plus-view_comfy
.plus-view_compact
  &:before
    content plus-view_compact
.plus-view_day
  &:before
    content plus-view_day
.plus-view_headline
  &:before
    content plus-view_headline
.plus-view_list
  &:before
    content plus-view_list
.plus-view_module
  &:before
    content plus-view_module
.plus-view_quilt
  &:before
    content plus-view_quilt
.plus-view_stream
  &:before
    content plus-view_stream
.plus-view_week
  &:before
    content plus-view_week
.plus-zoom_in
  &:before
    content plus-zoom_in
.plus-zoom_out
  &:before
    content plus-zoom_out
.plus-plus2
  &:before
    content plus-plus2
.plus-minus3
  &:before
    content plus-minus3
.plus-zoom-out
  &:before
    content plus-zoom-out
.plus-zoom-in
  &:before
    content plus-zoom-in
.plus-type
  &:before
    content plus-type
.plus-file-settings
  &:before
    content plus-file-settings
.plus-windows
  &:before
    content plus-windows
.plus-share2
  &:before
    content plus-share2
.plus-3d_rotation
  &:before
    content plus-3d_rotation
.plus-attach_money
  &:before
    content plus-attach_money
.plus-call_made
  &:before
    content plus-call_made
.plus-call_received
  &:before
    content plus-call_received
.plus-cancel2
  &:before
    content plus-cancel2
.plus-close
  &:before
    content plus-close
.plus-crop2
  &:before
    content plus-crop2
.plus-dashboard
  &:before
    content plus-dashboard
.plus-dehaze
  &:before
    content plus-dehaze
.plus-done_all
  &:before
    content plus-done_all
.plus-format_bold
  &:before
    content plus-format_bold
.plus-format_color_text
  &:before
    content plus-format_color_text
.plus-format_italic
  &:before
    content plus-format_italic
.plus-format_line_spacing
  &:before
    content plus-format_line_spacing
.plus-format_shapes
  &:before
    content plus-format_shapes
.plus-format_size
  &:before
    content plus-format_size
.plus-format_strikethrough
  &:before
    content plus-format_strikethrough
.plus-format_underlined
  &:before
    content plus-format_underlined
.plus-g_translate
  &:before
    content plus-g_translate
.plus-keyboard_tab
  &:before
    content plus-keyboard_tab
.plus-menu
  &:before
    content plus-menu
.plus-playlist_add
  &:before
    content plus-playlist_add
.plus-text_fields
  &:before
    content plus-text_fields
.plus-text_format
  &:before
    content plus-text_format
.plus-texture
  &:before
    content plus-texture
.plus-vertical_align_bottom
  &:before
    content plus-vertical_align_bottom
.plus-vertical_align_top
  &:before
    content plus-vertical_align_top
.plus-zoom_out_map
  &:before
    content plus-zoom_out_map
.plus-search-plus
  &:before
    content plus-search-plus
.plus-thumbs-o-up
  &:before
    content plus-thumbs-o-up
.plus-twitter
  &:before
    content plus-twitter
.plus-facebook2
  &:before
    content plus-facebook2
.plus-facebook-f
  &:before
    content plus-facebook-f
.plus-chain
  &:before
    content plus-chain
.plus-link2
  &:before
    content plus-link2
.plus-paperclip
  &:before
    content plus-paperclip
.plus-pinterest
  &:before
    content plus-pinterest
.plus-google-plus-square
  &:before
    content plus-google-plus-square
.plus-caret-down
  &:before
    content plus-caret-down
.plus-caret-up
  &:before
    content plus-caret-up
.plus-caret-left
  &:before
    content plus-caret-left
.plus-caret-right
  &:before
    content plus-caret-right
.plus-envelope
  &:before
    content plus-envelope
.plus-linkedin
  &:before
    content plus-linkedin
.plus-file-archive-o
  &:before
    content plus-file-archive-o
.plus-file-zip-o
  &:before
    content plus-file-zip-o
.plus-jsfiddle
  &:before
    content plus-jsfiddle
.plus-sliders
  &:before
    content plus-sliders
.plus-eyedropper
  &:before
    content plus-eyedropper
.plus-trash-o
  &:before
    content plus-trash-o
.plus-qrcode2
  &:before
    content plus-qrcode2
.plus-font
  &:before
    content plus-font
.plus-bold
  &:before
    content plus-bold
.plus-italic
  &:before
    content plus-italic
.plus-text-height
  &:before
    content plus-text-height
.plus-text-width
  &:before
    content plus-text-width
.plus-align-left
  &:before
    content plus-align-left
.plus-align-center
  &:before
    content plus-align-center
.plus-align-right
  &:before
    content plus-align-right
.plus-align-justify
  &:before
    content plus-align-justify
.plus-stop
  &:before
    content plus-stop
.plus-eye
  &:before
    content plus-eye
.plus-shopping-cart
  &:before
    content plus-shopping-cart
.plus-heart-o
  &:before
    content plus-heart-o
.plus-upload
  &:before
    content plus-upload
.plus-globe
  &:before
    content plus-globe
.plus-group
  &:before
    content plus-group
.plus-users
  &:before
    content plus-users
.plus-strikethrough
  &:before
    content plus-strikethrough
.plus-underline
  &:before
    content plus-underline
.plus-magic
  &:before
    content plus-magic
.plus-truck
  &:before
    content plus-truck
.plus-angle-double-left
  &:before
    content plus-angle-double-left
.plus-angle-double-right
  &:before
    content plus-angle-double-right
.plus-angle-left
  &:before
    content plus-angle-left
.plus-angle-right
  &:before
    content plus-angle-right
.plus-ellipsis-v
  &:before
    content plus-ellipsis-v
.plus-long-arrow-left
  &:before
    content plus-long-arrow-left
.plus-long-arrow-right
  &:before
    content plus-long-arrow-right
.plus-language
  &:before
    content plus-language
.plus-object-group
  &:before
    content plus-object-group
.plus-object-ungroup
  &:before
    content plus-object-ungroup
.plus-clone
  &:before
    content plus-clone
.plus-add-to-list
  &:before
    content plus-add-to-list
.plus-chevron-with-circle-left
  &:before
    content plus-chevron-with-circle-left
.plus-chevron-with-circle-right
  &:before
    content plus-chevron-with-circle-right
.plus-dots-three-vertical
  &:before
    content plus-dots-three-vertical
.plus-menu2
  &:before
    content plus-menu2
.plus-minus4
  &:before
    content plus-minus4
.plus-plus3
  &:before
    content plus-plus3
.plus-scissors2
  &:before
    content plus-scissors2
.plus-share3
  &:before
    content plus-share3
.plus-sound-mix
  &:before
    content plus-sound-mix
.plus-swap
  &:before
    content plus-swap
.plus-text
  &:before
    content plus-text
.plus-pencil
  &:before
    content plus-pencil
.plus-image
  &:before
    content plus-image
.plus-images
  &:before
    content plus-images
.plus-camera
  &:before
    content plus-camera
.plus-books
  &:before
    content plus-books
.plus-file-text
  &:before
    content plus-file-text
.plus-file-empty
  &:before
    content plus-file-empty
.plus-files-empty
  &:before
    content plus-files-empty
.plus-copy
  &:before
    content plus-copy
.plus-stack
  &:before
    content plus-stack
.plus-folder-open
  &:before
    content plus-folder-open
.plus-price-tags
  &:before
    content plus-price-tags
.plus-barcode
  &:before
    content plus-barcode
.plus-qrcode
  &:before
    content plus-qrcode
.plus-coin-dollar
  &:before
    content plus-coin-dollar
.plus-calculator2
  &:before
    content plus-calculator2
.plus-printer2
  &:before
    content plus-printer2
.plus-floppy-disk
  &:before
    content plus-floppy-disk
.plus-bubbles2
  &:before
    content plus-bubbles2
.plus-search
  &:before
    content plus-search
.plus-equalizer
  &:before
    content plus-equalizer
.plus-cogs
  &:before
    content plus-cogs
.plus-magic-wand
  &:before
    content plus-magic-wand
.plus-leaf
  &:before
    content plus-leaf
.plus-earth
  &:before
    content plus-earth
.plus-link
  &:before
    content plus-link
.plus-warning
  &:before
    content plus-warning
.plus-notification
  &:before
    content plus-notification
.plus-question
  &:before
    content plus-question
.plus-plus
  &:before
    content plus-plus
.plus-minus
  &:before
    content plus-minus
.plus-cross
  &:before
    content plus-cross
.plus-checkmark
  &:before
    content plus-checkmark
.plus-checkmark2
  &:before
    content plus-checkmark2
.plus-spell-check
  &:before
    content plus-spell-check
.plus-loop2
  &:before
    content plus-loop2
.plus-shuffle
  &:before
    content plus-shuffle
.plus-arrow-up-left2
  &:before
    content plus-arrow-up-left2
.plus-arrow-up2
  &:before
    content plus-arrow-up2
.plus-arrow-up-right2
  &:before
    content plus-arrow-up-right2
.plus-arrow-right2
  &:before
    content plus-arrow-right2
.plus-arrow-down-right2
  &:before
    content plus-arrow-down-right2
.plus-arrow-down2
  &:before
    content plus-arrow-down2
.plus-arrow-down-left2
  &:before
    content plus-arrow-down-left2
.plus-arrow-left2
  &:before
    content plus-arrow-left2
.plus-checkbox-unchecked
  &:before
    content plus-checkbox-unchecked
.plus-radio-checked
  &:before
    content plus-radio-checked
.plus-radio-unchecked
  &:before
    content plus-radio-unchecked
.plus-crop
  &:before
    content plus-crop
.plus-font2
  &:before
    content plus-font2
.plus-text-height2
  &:before
    content plus-text-height2
.plus-text-width2
  &:before
    content plus-text-width2
.plus-font-size
  &:before
    content plus-font-size
.plus-bold2
  &:before
    content plus-bold2
.plus-underline2
  &:before
    content plus-underline2
.plus-italic2
  &:before
    content plus-italic2
.plus-strikethrough2
  &:before
    content plus-strikethrough2
.plus-paragraph-left
  &:before
    content plus-paragraph-left
.plus-paragraph-center
  &:before
    content plus-paragraph-center
.plus-paragraph-right
  &:before
    content plus-paragraph-right
.plus-paragraph-justify
  &:before
    content plus-paragraph-justify
.plus-indent-increase
  &:before
    content plus-indent-increase
.plus-share
  &:before
    content plus-share
.plus-amazon
  &:before
    content plus-amazon
.plus-google-drive
  &:before
    content plus-google-drive
.plus-facebook
  &:before
    content plus-facebook
.plus-instagram
  &:before
    content plus-instagram
.plus-flickr3
  &:before
    content plus-flickr3
.plus-dropbox
  &:before
    content plus-dropbox
.plus-mail-envelope-closed
  &:before
    content plus-mail-envelope-closed
.plus-star2
  &:before
    content plus-star2
.plus-inbox-download
  &:before
    content plus-inbox-download
.plus-inbox-upload
  &:before
    content plus-inbox-upload
.plus-folder-add
  &:before
    content plus-folder-add
.plus-search2
  &:before
    content plus-search2
.plus-search3
  &:before
    content plus-search3
.plus-lock
  &:before
    content plus-lock
.plus-lock-open
  &:before
    content plus-lock-open
.plus-combination-lock
  &:before
    content plus-combination-lock
.plus-combination-lock2
  &:before
    content plus-combination-lock2
.plus-pen-angled
  &:before
    content plus-pen-angled
.plus-pen-angled2
  &:before
    content plus-pen-angled2
.plus-umbrella
  &:before
    content plus-umbrella
.plus-file-numbers2
  &:before
    content plus-file-numbers2
.plus-file-png2
  &:before
    content plus-file-png2
.plus-file-pdf2
  &:before
    content plus-file-pdf2
.plus-file-jpg2
  &:before
    content plus-file-jpg2
.plus-file-psd2
  &:before
    content plus-file-psd2
.plus-file-ai2
  &:before
    content plus-file-ai2
.plus-file-bmp2
  &:before
    content plus-file-bmp2
.plus-file-eps2
  &:before
    content plus-file-eps2
.plus-file-tiff2
  &:before
    content plus-file-tiff2
.plus-file-zip
  &:before
    content plus-file-zip
.plus-file-zip2
  &:before
    content plus-file-zip2
.plus-file-gif
  &:before
    content plus-file-gif
.plus-files
  &:before
    content plus-files
.plus-cog
  &:before
    content plus-cog
.plus-checkmark3
  &:before
    content plus-checkmark3
.plus-cancel
  &:before
    content plus-cancel
.plus-upload2
  &:before
    content plus-upload2
.plus-hand
  &:before
    content plus-hand
.plus-stack2
  &:before
    content plus-stack2
.plus-ruler2
  &:before
    content plus-ruler2
.plus-layout
  &:before
    content plus-layout
.plus-layout2
  &:before
    content plus-layout2
.plus-narrow
  &:before
    content plus-narrow
.plus-calculator
  &:before
    content plus-calculator
.plus-edit
  &:before
    content plus-edit
.plus-reply
  &:before
    content plus-reply
.plus-forward
  &:before
    content plus-forward
.plus-loop
  &:before
    content plus-loop
.plus-square
  &:before
    content plus-square
.plus-circle
  &:before
    content plus-circle
.plus-info
  &:before
    content plus-info
.plus-info2
  &:before
    content plus-info2
.plus-checked
  &:before
    content plus-checked
.plus-error
  &:before
    content plus-error
.plus-add
  &:before
    content plus-add
.plus-minus2
  &:before
    content plus-minus2
.plus-mobile
  &:before
    content plus-mobile
.plus-laptop
  &:before
    content plus-laptop
.plus-desktop
  &:before
    content plus-desktop
.plus-tablet
  &:before
    content plus-tablet
.plus-phone
  &:before
    content plus-phone
.plus-documents
  &:before
    content plus-documents
.plus-newspaper2
  &:before
    content plus-newspaper2
.plus-browser
  &:before
    content plus-browser
.plus-printer
  &:before
    content plus-printer
.plus-grid
  &:before
    content plus-grid
.plus-expand
  &:before
    content plus-expand
.plus-edit2
  &:before
    content plus-edit2
.plus-scissors
  &:before
    content plus-scissors
.plus-chat
  &:before
    content plus-chat
.plus-heart
  &:before
    content plus-heart
.plus-happy
  &:before
    content plus-happy
.plus-sad
  &:before
    content plus-sad
.plus-star
  &:before
    content plus-star
.plus-mail
  &:before
    content plus-mail
.plus-shop
  &:before
    content plus-shop
.plus-calendar
  &:before
    content plus-calendar

