@font-face {
  font-family: 'PPlus';
  src:  url('fonts/PPlus.eot?2585gz');
  src:  url('fonts/PPlus.eot?2585gz#iefix') format('embedded-opentype'),
    url('fonts/PPlus.ttf?2585gz') format('truetype'),
    url('fonts/PPlus.woff?2585gz') format('woff'),
    url('fonts/PPlus.svg?2585gz#PPlus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="plus-"], [class*=" plus-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PPlus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plus-icon:before {
  content: "\e915";
}
.plus-select-area:before {
  content: "\e913";
}
.plus-file-svg2:before {
  content: "\e90c";
}
.plus-front-layout-symbol:before {
  content: "\e904";
}
.plus-back-layout-symbol:before {
  content: "\e96b";
}
.plus-object-alignment-at-the-bottom:before {
  content: "\e96c";
}
.plus-object-alignment-to-the-top:before {
  content: "\e96e";
}
.plus-object-alignment-to-the-center:before {
  content: "\e96f";
}
.plus-object-alignment-horizontal:before {
  content: "\e970";
}
.plus-object-alignment-to-the-right:before {
  content: "\e971";
}
.plus-object-alignment-to-the-left:before {
  content: "\e972";
}
.plus-object-flip-ver:before {
  content: "\e973";
}
.plus-object-flip-hor:before {
  content: "\e974";
}
.plus-add2:before {
  content: "\e145";
}
.plus-add_circle:before {
  content: "\e147";
}
.plus-control_point:before {
  content: "\e3ba";
}
.plus-loupe:before {
  content: "\e402";
}
.plus-view_array:before {
  content: "\e8ea";
}
.plus-view_carousel:before {
  content: "\e8eb";
}
.plus-view_column:before {
  content: "\e8ec";
}
.plus-view_comfy:before {
  content: "\e42a";
}
.plus-view_compact:before {
  content: "\e42b";
}
.plus-view_day:before {
  content: "\e8ed";
}
.plus-view_headline:before {
  content: "\e8ee";
}
.plus-view_list:before {
  content: "\e8ef";
}
.plus-view_module:before {
  content: "\e8f0";
}
.plus-view_quilt:before {
  content: "\e8f1";
}
.plus-view_stream:before {
  content: "\e8f2";
}
.plus-view_week:before {
  content: "\e8f3";
}
.plus-zoom_in:before {
  content: "\e8ff";
}
.plus-zoom_out:before {
  content: "\e911";
}
.plus-plus2:before {
  content: "\e91f";
}
.plus-minus3:before {
  content: "\e921";
}
.plus-zoom-out:before {
  content: "\e922";
}
.plus-zoom-in:before {
  content: "\e923";
}
.plus-type:before {
  content: "\e946";
}
.plus-file-settings:before {
  content: "\e947";
}
.plus-windows:before {
  content: "\e948";
}
.plus-share2:before {
  content: "\e963";
}
.plus-3d_rotation:before {
  content: "\e84d";
}
.plus-attach_money:before {
  content: "\e227";
}
.plus-call_made:before {
  content: "\e0b2";
}
.plus-call_received:before {
  content: "\e0b5";
}
.plus-cancel2:before {
  content: "\e5c9";
}
.plus-close:before {
  content: "\e5cd";
}
.plus-crop2:before {
  content: "\e3be";
}
.plus-dashboard:before {
  content: "\e871";
}
.plus-dehaze:before {
  content: "\e3c7";
}
.plus-done_all:before {
  content: "\e877";
}
.plus-format_bold:before {
  content: "\e238";
}
.plus-format_color_text:before {
  content: "\e23c";
}
.plus-format_italic:before {
  content: "\e23f";
}
.plus-format_line_spacing:before {
  content: "\e240";
}
.plus-format_shapes:before {
  content: "\e25e";
}
.plus-format_size:before {
  content: "\e245";
}
.plus-format_strikethrough:before {
  content: "\e246";
}
.plus-format_underlined:before {
  content: "\e249";
}
.plus-g_translate:before {
  content: "\e949";
}
.plus-keyboard_tab:before {
  content: "\e31c";
}
.plus-menu:before {
  content: "\e5d2";
}
.plus-playlist_add:before {
  content: "\e03b";
}
.plus-text_fields:before {
  content: "\e262";
}
.plus-text_format:before {
  content: "\e165";
}
.plus-texture:before {
  content: "\e421";
}
.plus-vertical_align_bottom:before {
  content: "\e258";
}
.plus-vertical_align_top:before {
  content: "\e25a";
}
.plus-zoom_out_map:before {
  content: "\e56b";
}
.plus-search-plus:before {
  content: "\f00e";
}
.plus-thumbs-o-up:before {
  content: "\f087";
}
.plus-twitter:before {
  content: "\f099";
}
.plus-facebook2:before {
  content: "\f09a";
}
.plus-facebook-f:before {
  content: "\f09a";
}
.plus-chain:before {
  content: "\f0c1";
}
.plus-link2:before {
  content: "\f0c1";
}
.plus-paperclip:before {
  content: "\f0c6";
}
.plus-pinterest:before {
  content: "\f0d2";
}
.plus-google-plus-square:before {
  content: "\f0d4";
}
.plus-caret-down:before {
  content: "\f0d7";
}
.plus-caret-up:before {
  content: "\f0d8";
}
.plus-caret-left:before {
  content: "\f0d9";
}
.plus-caret-right:before {
  content: "\f0da";
}
.plus-envelope:before {
  content: "\f0e0";
}
.plus-linkedin:before {
  content: "\f0e1";
}
.plus-file-archive-o:before {
  content: "\f1c6";
}
.plus-file-zip-o:before {
  content: "\f1c6";
}
.plus-jsfiddle:before {
  content: "\f1cc";
}
.plus-sliders:before {
  content: "\f1de";
}
.plus-eyedropper:before {
  content: "\f1fb";
}
.plus-trash-o:before {
  content: "\f014";
}
.plus-qrcode2:before {
  content: "\f029";
}
.plus-font:before {
  content: "\f031";
}
.plus-bold:before {
  content: "\f032";
}
.plus-italic:before {
  content: "\f033";
}
.plus-text-height:before {
  content: "\f034";
}
.plus-text-width:before {
  content: "\f035";
}
.plus-align-left:before {
  content: "\f036";
}
.plus-align-center:before {
  content: "\f037";
}
.plus-align-right:before {
  content: "\f038";
}
.plus-align-justify:before {
  content: "\f039";
}
.plus-stop:before {
  content: "\f04d";
}
.plus-eye:before {
  content: "\f06e";
}
.plus-shopping-cart:before {
  content: "\f07a";
}
.plus-heart-o:before {
  content: "\f08a";
}
.plus-upload:before {
  content: "\f093";
}
.plus-globe:before {
  content: "\f0ac";
}
.plus-group:before {
  content: "\f0c0";
}
.plus-users:before {
  content: "\f0c0";
}
.plus-strikethrough:before {
  content: "\f0cc";
}
.plus-underline:before {
  content: "\f0cd";
}
.plus-magic:before {
  content: "\f0d0";
}
.plus-truck:before {
  content: "\f0d1";
}
.plus-angle-double-left:before {
  content: "\f100";
}
.plus-angle-double-right:before {
  content: "\f101";
}
.plus-angle-left:before {
  content: "\f104";
}
.plus-angle-right:before {
  content: "\f105";
}
.plus-ellipsis-v:before {
  content: "\f142";
}
.plus-long-arrow-left:before {
  content: "\f177";
}
.plus-long-arrow-right:before {
  content: "\f178";
}
.plus-language:before {
  content: "\f1ab";
}
.plus-object-group:before {
  content: "\f247";
}
.plus-object-ungroup:before {
  content: "\f248";
}
.plus-clone:before {
  content: "\f24d";
}
.plus-add-to-list:before {
  content: "\e926";
}
.plus-chevron-with-circle-left:before {
  content: "\e917";
}
.plus-chevron-with-circle-right:before {
  content: "\e919";
}
.plus-dots-three-vertical:before {
  content: "\e927";
}
.plus-menu2:before {
  content: "\e928";
}
.plus-minus4:before {
  content: "\e929";
}
.plus-plus3:before {
  content: "\e92a";
}
.plus-scissors2:before {
  content: "\e92b";
}
.plus-share3:before {
  content: "\e92f";
}
.plus-sound-mix:before {
  content: "\e937";
}
.plus-swap:before {
  content: "\e959";
}
.plus-text:before {
  content: "\e95a";
}
.plus-pencil:before {
  content: "\e905";
}
.plus-image:before {
  content: "\e90d";
}
.plus-images:before {
  content: "\e90e";
}
.plus-camera:before {
  content: "\e90f";
}
.plus-books:before {
  content: "\e920";
}
.plus-file-text:before {
  content: "\e951";
}
.plus-file-empty:before {
  content: "\e924";
}
.plus-files-empty:before {
  content: "\e925";
}
.plus-copy:before {
  content: "\e92c";
}
.plus-stack:before {
  content: "\e92e";
}
.plus-folder-open:before {
  content: "\e930";
}
.plus-price-tags:before {
  content: "\e936";
}
.plus-barcode:before {
  content: "\e956";
}
.plus-qrcode:before {
  content: "\e957";
}
.plus-coin-dollar:before {
  content: "\e952";
}
.plus-calculator2:before {
  content: "\e953";
}
.plus-printer2:before {
  content: "\e954";
}
.plus-floppy-disk:before {
  content: "\e962";
}
.plus-bubbles2:before {
  content: "\e96d";
}
.plus-search:before {
  content: "\e986";
}
.plus-equalizer:before {
  content: "\e992";
}
.plus-cogs:before {
  content: "\e995";
}
.plus-magic-wand:before {
  content: "\e997";
}
.plus-leaf:before {
  content: "\e9a4";
}
.plus-earth:before {
  content: "\e9ca";
}
.plus-link:before {
  content: "\e9cb";
}
.plus-warning:before {
  content: "\ea07";
}
.plus-notification:before {
  content: "\ea08";
}
.plus-question:before {
  content: "\ea09";
}
.plus-plus:before {
  content: "\ea0a";
}
.plus-minus:before {
  content: "\ea0b";
}
.plus-cross:before {
  content: "\ea0f";
}
.plus-checkmark:before {
  content: "\ea10";
}
.plus-checkmark2:before {
  content: "\ea11";
}
.plus-spell-check:before {
  content: "\ea12";
}
.plus-loop2:before {
  content: "\ea2e";
}
.plus-shuffle:before {
  content: "\ea30";
}
.plus-arrow-up-left2:before {
  content: "\ea39";
}
.plus-arrow-up2:before {
  content: "\ea3a";
}
.plus-arrow-up-right2:before {
  content: "\ea3b";
}
.plus-arrow-right2:before {
  content: "\ea3c";
}
.plus-arrow-down-right2:before {
  content: "\ea3d";
}
.plus-arrow-down2:before {
  content: "\ea3e";
}
.plus-arrow-down-left2:before {
  content: "\ea3f";
}
.plus-arrow-left2:before {
  content: "\ea40";
}
.plus-checkbox-unchecked:before {
  content: "\ea53";
}
.plus-radio-checked:before {
  content: "\ea54";
}
.plus-radio-unchecked:before {
  content: "\ea56";
}
.plus-crop:before {
  content: "\ea57";
}
.plus-font2:before {
  content: "\ea5c";
}
.plus-text-height2:before {
  content: "\ea5f";
}
.plus-text-width2:before {
  content: "\ea60";
}
.plus-font-size:before {
  content: "\ea61";
}
.plus-bold2:before {
  content: "\ea62";
}
.plus-underline2:before {
  content: "\ea63";
}
.plus-italic2:before {
  content: "\ea64";
}
.plus-strikethrough2:before {
  content: "\ea65";
}
.plus-paragraph-left:before {
  content: "\ea77";
}
.plus-paragraph-center:before {
  content: "\ea78";
}
.plus-paragraph-right:before {
  content: "\ea79";
}
.plus-paragraph-justify:before {
  content: "\ea7a";
}
.plus-indent-increase:before {
  content: "\ea7b";
}
.plus-share:before {
  content: "\ea7d";
}
.plus-amazon:before {
  content: "\ea87";
}
.plus-google-drive:before {
  content: "\ea8f";
}
.plus-facebook:before {
  content: "\ea90";
}
.plus-instagram:before {
  content: "\ea92";
}
.plus-flickr3:before {
  content: "\eaa5";
}
.plus-dropbox:before {
  content: "\eaae";
}
.plus-mail-envelope-closed:before {
  content: "\e958";
}
.plus-star2:before {
  content: "\e969";
}
.plus-inbox-download:before {
  content: "\e94d";
}
.plus-inbox-upload:before {
  content: "\e94e";
}
.plus-folder-add:before {
  content: "\e94f";
}
.plus-search2:before {
  content: "\e900";
}
.plus-search3:before {
  content: "\e903";
}
.plus-lock:before {
  content: "\e93e";
}
.plus-lock-open:before {
  content: "\e964";
}
.plus-combination-lock:before {
  content: "\e965";
}
.plus-combination-lock2:before {
  content: "\e966";
}
.plus-pen-angled:before {
  content: "\e901";
}
.plus-pen-angled2:before {
  content: "\e902";
}
.plus-umbrella:before {
  content: "\e96a";
}
.plus-file-numbers2:before {
  content: "\e90b";
}
.plus-file-png2:before {
  content: "\e910";
}
.plus-file-pdf2:before {
  content: "\e912";
}
.plus-file-jpg2:before {
  content: "\e914";
}
.plus-file-psd2:before {
  content: "\e916";
}
.plus-file-ai2:before {
  content: "\e918";
}
.plus-file-bmp2:before {
  content: "\e91a";
}
.plus-file-eps2:before {
  content: "\e91c";
}
.plus-file-tiff2:before {
  content: "\e91e";
}
.plus-file-zip:before {
  content: "\e967";
}
.plus-file-zip2:before {
  content: "\e968";
}
.plus-file-gif:before {
  content: "\e90a";
}
.plus-files:before {
  content: "\e92d";
}
.plus-cog:before {
  content: "\e931";
}
.plus-checkmark3:before {
  content: "\e932";
}
.plus-cancel:before {
  content: "\e933";
}
.plus-upload2:before {
  content: "\e950";
}
.plus-hand:before {
  content: "\e934";
}
.plus-stack2:before {
  content: "\e935";
}
.plus-ruler2:before {
  content: "\e938";
}
.plus-layout:before {
  content: "\e939";
}
.plus-layout2:before {
  content: "\e93a";
}
.plus-narrow:before {
  content: "\e955";
}
.plus-calculator:before {
  content: "\e94a";
}
.plus-edit:before {
  content: "\e93b";
}
.plus-reply:before {
  content: "\e94b";
}
.plus-forward:before {
  content: "\e94c";
}
.plus-loop:before {
  content: "\e93c";
}
.plus-square:before {
  content: "\e93d";
}
.plus-circle:before {
  content: "\e93f";
}
.plus-info:before {
  content: "\e940";
}
.plus-info2:before {
  content: "\e941";
}
.plus-checked:before {
  content: "\e942";
}
.plus-error:before {
  content: "\e943";
}
.plus-add:before {
  content: "\e944";
}
.plus-minus2:before {
  content: "\e945";
}
.plus-mobile:before {
  content: "\e000";
}
.plus-laptop:before {
  content: "\e001";
}
.plus-desktop:before {
  content: "\e002";
}
.plus-tablet:before {
  content: "\e003";
}
.plus-phone:before {
  content: "\e004";
}
.plus-documents:before {
  content: "\e006";
}
.plus-newspaper2:before {
  content: "\e009";
}
.plus-browser:before {
  content: "\e00c";
}
.plus-printer:before {
  content: "\e013";
}
.plus-grid:before {
  content: "\e019";
}
.plus-expand:before {
  content: "\e01a";
}
.plus-edit2:before {
  content: "\e01c";
}
.plus-scissors:before {
  content: "\e035";
}
.plus-chat:before {
  content: "\e049";
}
.plus-heart:before {
  content: "\e04a";
}
.plus-happy:before {
  content: "\e05b";
}
.plus-sad:before {
  content: "\e05c";
}
.plus-star:before {
  content: "\e906";
}
.plus-mail:before {
  content: "\e907";
}
.plus-shop:before {
  content: "\e908";
}
.plus-calendar:before {
  content: "\e909";
}

