icomoon-font-path ?= "fonts"

plus-icon = "\e915"
plus-select-area = "\e913"
plus-file-svg2 = "\e90c"
plus-front-layout-symbol = "\e904"
plus-back-layout-symbol = "\e96b"
plus-object-alignment-at-the-bottom = "\e96c"
plus-object-alignment-to-the-top = "\e96e"
plus-object-alignment-to-the-center = "\e96f"
plus-object-alignment-horizontal = "\e970"
plus-object-alignment-to-the-right = "\e971"
plus-object-alignment-to-the-left = "\e972"
plus-object-flip-ver = "\e973"
plus-object-flip-hor = "\e974"
plus-add2 = "\e145"
plus-add_circle = "\e147"
plus-control_point = "\e3ba"
plus-loupe = "\e402"
plus-view_array = "\e8ea"
plus-view_carousel = "\e8eb"
plus-view_column = "\e8ec"
plus-view_comfy = "\e42a"
plus-view_compact = "\e42b"
plus-view_day = "\e8ed"
plus-view_headline = "\e8ee"
plus-view_list = "\e8ef"
plus-view_module = "\e8f0"
plus-view_quilt = "\e8f1"
plus-view_stream = "\e8f2"
plus-view_week = "\e8f3"
plus-zoom_in = "\e8ff"
plus-zoom_out = "\e911"
plus-plus2 = "\e91f"
plus-minus3 = "\e921"
plus-zoom-out = "\e922"
plus-zoom-in = "\e923"
plus-type = "\e946"
plus-file-settings = "\e947"
plus-windows = "\e948"
plus-share2 = "\e963"
plus-3d_rotation = "\e84d"
plus-attach_money = "\e227"
plus-call_made = "\e0b2"
plus-call_received = "\e0b5"
plus-cancel2 = "\e5c9"
plus-close = "\e5cd"
plus-crop2 = "\e3be"
plus-dashboard = "\e871"
plus-dehaze = "\e3c7"
plus-done_all = "\e877"
plus-format_bold = "\e238"
plus-format_color_text = "\e23c"
plus-format_italic = "\e23f"
plus-format_line_spacing = "\e240"
plus-format_shapes = "\e25e"
plus-format_size = "\e245"
plus-format_strikethrough = "\e246"
plus-format_underlined = "\e249"
plus-g_translate = "\e949"
plus-keyboard_tab = "\e31c"
plus-menu = "\e5d2"
plus-playlist_add = "\e03b"
plus-text_fields = "\e262"
plus-text_format = "\e165"
plus-texture = "\e421"
plus-vertical_align_bottom = "\e258"
plus-vertical_align_top = "\e25a"
plus-zoom_out_map = "\e56b"
plus-search-plus = "\f00e"
plus-thumbs-o-up = "\f087"
plus-twitter = "\f099"
plus-facebook2 = "\f09a"
plus-facebook-f = "\f09a"
plus-chain = "\f0c1"
plus-link2 = "\f0c1"
plus-paperclip = "\f0c6"
plus-pinterest = "\f0d2"
plus-google-plus-square = "\f0d4"
plus-caret-down = "\f0d7"
plus-caret-up = "\f0d8"
plus-caret-left = "\f0d9"
plus-caret-right = "\f0da"
plus-envelope = "\f0e0"
plus-linkedin = "\f0e1"
plus-file-archive-o = "\f1c6"
plus-file-zip-o = "\f1c6"
plus-jsfiddle = "\f1cc"
plus-sliders = "\f1de"
plus-eyedropper = "\f1fb"
plus-trash-o = "\f014"
plus-qrcode2 = "\f029"
plus-font = "\f031"
plus-bold = "\f032"
plus-italic = "\f033"
plus-text-height = "\f034"
plus-text-width = "\f035"
plus-align-left = "\f036"
plus-align-center = "\f037"
plus-align-right = "\f038"
plus-align-justify = "\f039"
plus-stop = "\f04d"
plus-eye = "\f06e"
plus-shopping-cart = "\f07a"
plus-heart-o = "\f08a"
plus-upload = "\f093"
plus-globe = "\f0ac"
plus-group = "\f0c0"
plus-users = "\f0c0"
plus-strikethrough = "\f0cc"
plus-underline = "\f0cd"
plus-magic = "\f0d0"
plus-truck = "\f0d1"
plus-angle-double-left = "\f100"
plus-angle-double-right = "\f101"
plus-angle-left = "\f104"
plus-angle-right = "\f105"
plus-ellipsis-v = "\f142"
plus-long-arrow-left = "\f177"
plus-long-arrow-right = "\f178"
plus-language = "\f1ab"
plus-object-group = "\f247"
plus-object-ungroup = "\f248"
plus-clone = "\f24d"
plus-add-to-list = "\e926"
plus-chevron-with-circle-left = "\e917"
plus-chevron-with-circle-right = "\e919"
plus-dots-three-vertical = "\e927"
plus-menu2 = "\e928"
plus-minus4 = "\e929"
plus-plus3 = "\e92a"
plus-scissors2 = "\e92b"
plus-share3 = "\e92f"
plus-sound-mix = "\e937"
plus-swap = "\e959"
plus-text = "\e95a"
plus-pencil = "\e905"
plus-image = "\e90d"
plus-images = "\e90e"
plus-camera = "\e90f"
plus-books = "\e920"
plus-file-text = "\e951"
plus-file-empty = "\e924"
plus-files-empty = "\e925"
plus-copy = "\e92c"
plus-stack = "\e92e"
plus-folder-open = "\e930"
plus-price-tags = "\e936"
plus-barcode = "\e956"
plus-qrcode = "\e957"
plus-coin-dollar = "\e952"
plus-calculator2 = "\e953"
plus-printer2 = "\e954"
plus-floppy-disk = "\e962"
plus-bubbles2 = "\e96d"
plus-search = "\e986"
plus-equalizer = "\e992"
plus-cogs = "\e995"
plus-magic-wand = "\e997"
plus-leaf = "\e9a4"
plus-earth = "\e9ca"
plus-link = "\e9cb"
plus-warning = "\ea07"
plus-notification = "\ea08"
plus-question = "\ea09"
plus-plus = "\ea0a"
plus-minus = "\ea0b"
plus-cross = "\ea0f"
plus-checkmark = "\ea10"
plus-checkmark2 = "\ea11"
plus-spell-check = "\ea12"
plus-loop2 = "\ea2e"
plus-shuffle = "\ea30"
plus-arrow-up-left2 = "\ea39"
plus-arrow-up2 = "\ea3a"
plus-arrow-up-right2 = "\ea3b"
plus-arrow-right2 = "\ea3c"
plus-arrow-down-right2 = "\ea3d"
plus-arrow-down2 = "\ea3e"
plus-arrow-down-left2 = "\ea3f"
plus-arrow-left2 = "\ea40"
plus-checkbox-unchecked = "\ea53"
plus-radio-checked = "\ea54"
plus-radio-unchecked = "\ea56"
plus-crop = "\ea57"
plus-font2 = "\ea5c"
plus-text-height2 = "\ea5f"
plus-text-width2 = "\ea60"
plus-font-size = "\ea61"
plus-bold2 = "\ea62"
plus-underline2 = "\ea63"
plus-italic2 = "\ea64"
plus-strikethrough2 = "\ea65"
plus-paragraph-left = "\ea77"
plus-paragraph-center = "\ea78"
plus-paragraph-right = "\ea79"
plus-paragraph-justify = "\ea7a"
plus-indent-increase = "\ea7b"
plus-share = "\ea7d"
plus-amazon = "\ea87"
plus-google-drive = "\ea8f"
plus-facebook = "\ea90"
plus-instagram = "\ea92"
plus-flickr3 = "\eaa5"
plus-dropbox = "\eaae"
plus-mail-envelope-closed = "\e958"
plus-star2 = "\e969"
plus-inbox-download = "\e94d"
plus-inbox-upload = "\e94e"
plus-folder-add = "\e94f"
plus-search2 = "\e900"
plus-search3 = "\e903"
plus-lock = "\e93e"
plus-lock-open = "\e964"
plus-combination-lock = "\e965"
plus-combination-lock2 = "\e966"
plus-pen-angled = "\e901"
plus-pen-angled2 = "\e902"
plus-umbrella = "\e96a"
plus-file-numbers2 = "\e90b"
plus-file-png2 = "\e910"
plus-file-pdf2 = "\e912"
plus-file-jpg2 = "\e914"
plus-file-psd2 = "\e916"
plus-file-ai2 = "\e918"
plus-file-bmp2 = "\e91a"
plus-file-eps2 = "\e91c"
plus-file-tiff2 = "\e91e"
plus-file-zip = "\e967"
plus-file-zip2 = "\e968"
plus-file-gif = "\e90a"
plus-files = "\e92d"
plus-cog = "\e931"
plus-checkmark3 = "\e932"
plus-cancel = "\e933"
plus-upload2 = "\e950"
plus-hand = "\e934"
plus-stack2 = "\e935"
plus-ruler2 = "\e938"
plus-layout = "\e939"
plus-layout2 = "\e93a"
plus-narrow = "\e955"
plus-calculator = "\e94a"
plus-edit = "\e93b"
plus-reply = "\e94b"
plus-forward = "\e94c"
plus-loop = "\e93c"
plus-square = "\e93d"
plus-circle = "\e93f"
plus-info = "\e940"
plus-info2 = "\e941"
plus-checked = "\e942"
plus-error = "\e943"
plus-add = "\e944"
plus-minus2 = "\e945"
plus-mobile = "\e000"
plus-laptop = "\e001"
plus-desktop = "\e002"
plus-tablet = "\e003"
plus-phone = "\e004"
plus-documents = "\e006"
plus-newspaper2 = "\e009"
plus-browser = "\e00c"
plus-printer = "\e013"
plus-grid = "\e019"
plus-expand = "\e01a"
plus-edit2 = "\e01c"
plus-scissors = "\e035"
plus-chat = "\e049"
plus-heart = "\e04a"
plus-happy = "\e05b"
plus-sad = "\e05c"
plus-star = "\e906"
plus-mail = "\e907"
plus-shop = "\e908"
plus-calendar = "\e909"

